<div class="about-me">
           <div class="about-content">
            <div class="footer">
  <div class="footer-left">
    <a class="active" href="/">Home</a>
    <a href="/templates">Templates</a>
    <a href="#contact">Contact Us</a>
  </div></div>
            <div class="about-container">
                <p class="disclaimer-before1">REmake</p>
                <p class="disclaimer-before2">Using REmake’s free resume creator, it's simple and quick to apply for your dream job. Choose from hundreds of free,
professionally designed templates and customize them .</p>
<br><hr><br><br><br>
                {{!-- <p class="btn-title">Contact Us</p> --}}
                <a href="https://www.facebook.com/BMLMunjalUniversity/" target="_blank" class="btn">
                    <i class="fab fa-facebook-f"><img src="/static/images/facebook.png" class="img1" alt=""></i> 
                </a>
                <a href="https://twitter.com/bmluniv?lang=en" target="_blank" class="btn">
                    <i class="fab fa-twitter"><img src="/static/images/tweetbird.png" class="img2" alt=""></i> 
                </a>
                <a href="https://www.instagram.com/bmlmunjaluniversity/" target="_blank" class="btn">
                    <i class="fab fa-instagram"><img src="/static/images/instagram.png" alt="" class="img3"></i> 
                </a>

                <p class="disclaimer">Copyright 2022. All Rights Reserved.</p>
                
            </div>
            <div>
                <p class="contacts">About Us</p>
            </div>

            <div>
                
            </div>

        </div>