<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">

    <a href="/RE"><button class="login1">Log in</button></a> 
    <a href="/SignUp"><button class="signup1">Sign up</button></a> 
<div class="header">
  <div class="header-left">
    <a class="active" href="/">Home</a>
    <a href="#explore">Explore</a>
    <a href="/templates" class="active2">Templates</a>
    <h1 class="REmake">REmake</h1>
  </div>

</div>
</body>
</html>