<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> welcome to remake </title>
</head>
<body style="background-color: Gray;">

  <h1 style="span style=background-color:white;">REmake </span></h1>

  <h2 style="text-align:center; color:white">Online resume maker</h2>
  <h3 span style="background-color:white;">Build my resume</span> </h3>
  <h4 span style=background-color:white;">login</span></h4>
  <h5 span style=background-color:white;">Sign up</span> </h5>
  <p style= "color:white; font-family:georgia; font-size:25px; font style:italic;text-align:center;">Using Remakes free resume creator, its simple and quick to apply
    for your dream job. Choose from<br> hundred of free, professionally designed templates and customize them</p>
    <p style="color:white;text-aling:center">Easy to create and customize   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp  Free Templates and layouts &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp    Styles for every industry</p>