<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="faqs.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/templates.css">
</head>

<body>
    <div class="texxxt">
        <div>
    {{>header}}
</div>
    <div class="title-temp">    <h1 class="heading">Templates to win recruiters over</h1>
    <p style="margin-left: 800px;
    margin-top: 20px;">Wide selection of designs. Carefully optimised for clarity and impact.</p>
    </div></div>
      <div class="card-list">
        <div class="card-container">

            <div class="card">
                <img src="/static/images/a1.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a7.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a3.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a4.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a5.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a6.jpeg" class="card-img" alt="">
            </div>

        </div>
    </div>

      <div class="card-list">
        <div class="card-container">

            <div class="card">
                <img src="/static/images/a11.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/7.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a10.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a8.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a9.jpeg" class="card-img" alt="">
            </div>
            <div class="card">
                <img src="/static/images/a2.jpeg" class="card-img" alt="">
            </div>

        </div>
    </div>
    {{>footer}}
</body>
<script>
    const slideGallery = document.querySelector('.slides');
const slides = slideGallery.querySelectorAll('div');
const thumbnailContainer = document.querySelector('.thumbnails');
const slideCount = slides.length;
const slideWidth = 540;

const highlightThumbnail = () => {
  thumbnailContainer
    .querySelectorAll('div.highlighted')
    .forEach(el => el.classList.remove('highlighted'));
  const index = Math.floor(slideGallery.scrollLeft / slideWidth);
  thumbnailContainer
    .querySelector(`div[data-id="${index}"]`)
    .classList.add('highlighted');
};

const scrollToElement = el => {
  const index = parseInt(el.dataset.id, 10);
  slideGallery.scrollTo(index * slideWidth, 0);
};

thumbnailContainer.innerHTML += [...slides]
  .map((slide, i) => `<div data-id="${i}"></div>`)
  .join('');

thumbnailContainer.querySelectorAll('div').forEach(el => {
  el.addEventListener('click', () => scrollToElement(el));
});

slideGallery.addEventListener('scroll', e => highlightThumbnail());

highlightThumbnail();
</script>
</html>